a {
    color: black;
}

.rand {
    padding: 0;
    margin: 0;
}

.ruimte {
    padding-top: 200px;
}

.ruim {
    padding-top: 100px;
}

.footer_ruimte {
    padding-top: 20px;
}

.blur {
    -webkit-filter: blur(2px);
    filter: blur(2px);
    height:100vh;
}

.page-footer {
    border: 2px;
    background-color: #45b201;
}

.footer-copyright {
    background-color: #2d6d03;
}

.text {
    color:white;
}

.borders {
    padding: 20px;
}

.backg {
    background-color: gray;
}

.loginheight {
    height: 500px;
    padding: 10px;
    margin-top: 200px;
}

.userlogin {
    max-width: 100px;
}

.registreer {
    margin-top: 100px;
}

.imagelogin {
    padding: 0;
    height:100vh;
}

.imagespace {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

.responsive {
  width: 100%;
  max-width: 500px;
  height: 400px;
}